" vim-easymotion
set easymotion
" vim-surround
set surround
" commentary.vim
set commentary
" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin
" set numberings
set relativenumber
set number
